* {
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
}

@font-face {
    font-family: japanFont;
    src: url("fonts/go3v2-webfont.woff");
}

body {
    display: flex;
    align-items: stretch;
}

.sidePane {
    width: max(30%, 300px);
    background-image: url("bgpic.jpg");
    background-size: cover;
    background-position: 40%;
    opacity: 90%;
    font-family: japanFont;
    color: white;
    position: relative;
    min-height: 500px;
}

.sidePane h1 {
    display: block;
    text-align: center;
    width: 100%;
    background: rgba(14, 9, 9, 0.5);
    position: absolute;
    top: 30%;
    font-size: 3rem;
    padding:0.5rem;
}


.mainPane {
    width: 70%;
    background-color: #F1EBEA;
    position: relative;
    min-height: 500px;
    display: flex;
    flex-flow: column;
    justify-content: center;
}

.blurb {
    padding: 2em;
    
}

.signUp {
    padding: 2em;
    background-color: white;
    

}

.signUp fieldset {
    border: none;
}

.signUp fieldset legend {
    margin-bottom: 1em;
}

form fieldset{
    display:flex;
    flex-flow: row nowrap;
}
